.mt-0 {
    margin-bottom: 0.5rem;
    font-weight: 1000;
    line-height: 1.2;
    color: #88e47c;

    .hr {
        margin: 2rem 0;
        color: #3e4e3e;
        border-top: var(--bs-border-width) solid;

        &:hover {
            background-color: rgb(65, 201, 24);
        }


    }


}