*{
  margin: 0;
  padding: 0;
}

body {
    width: 100%;
    height: 100%;
  }
  
.page-section {
    padding: 8rem 0;
  }
  
  .bg__sections-about {
    background-color: rgba(35, 100, 44, 0.63);
    color: rgb(255, 255, 255);
  }
  #hero1{
    background:url(https://images.unsplash.com/photo-1470058869958-2a77ade41c02?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
     background-size:cover;
     background-position:center center;
     background-attachment:fixed;
   }
   .inner{
    min-height:600px;
    position: relative;
  }