body {
    width: 100%;
    height: 100%;
  }
  
.page-section {
    padding: 8rem 0;
  }
  
  .bg__sections-about {
    background-color: rgb(3, 56, 34);
    color: white;
  }
  #hero1{
    background:url(https://4.bp.blogspot.com/_AQ0vcRxFu0A/S9shDGGyMTI/AAAAAAAAAYk/kn3WTkY2LoQ/s1600/IMG_0714.JPG);
     background-size:cover;
     background-position:center center;
     background-attachment:fixed;
   }
   .inner{
    min-height:600px;
    position: relative;
  }