.fw-bolder{
    margin-bottom: 0.5rem;
    font-weight: 1000;
    line-height: 1.2;

    
    
}

.h2{
    color: #88e47c;
}


.btn-outline-primary {
    --bs-btn-color: #88e47cea;
    --bs-btn-border-color: #88e47cea;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #88e47cea;
    --bs-btn-hover-border-color: #88e47cea;
    --bs-btn-focus-shadow-rgb: 13,110,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #88e47cea;
    --bs-btn-active-border-color: #88e47cea;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #88e47cea;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #88e47cea;
    --bs-gradient: none}

